@model PagedList.IPagedList<QuanLySinhVien.ViewModel.Violate.ViolateViewModel>
@using PagedList.Mvc;

@{
    ViewBag.Title = "StudentViolate";
}

<h2>StudentViolate</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Mã sinh viên
        </th>
        <th>
            Tên nhân viên
        </th>
        <th>
            lỗi vi phạm
        </th>
        <th>
            Ngày tạo
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idStudent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContentViolate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
        </tr>
    }
</table>
