
@model PagedList.IPagedList<QuanLySinhVien.ViewModel.Violate.ViolateViewModel>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
}



<div class="sub-header">
    @using (Html.BeginForm("Index", "ViolateStudent", FormMethod.Get))
    {
        <p>
            Tìm kiếm: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
            <input type="submit" class="btn btn-info" value="Tìm kiếm" />
        </p>
    }
<p>
    <a href="ViolateStudent/AddViolateStudent" class="btn btn-success">Tạo vi phạm</a>
</p>
</div>
<table class="table">
    <tr>
        <th>
            Mã sinh viên
        </th>
        <th>
            Tên sinh viên
        </th>
        <th>
            Nội dung vi phạm
        </th>
        <th>
            Ngày tạo
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idStudent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContentViolate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.ActionLink("Sửa", "EditViolateStudent", new { id = item.Id }, new { @class = "btn btn-primary" })
                @Ajax.ActionLink("Xoá", "DeleteEditViolateStudent", new { @id = item.Id }, new AjaxOptions
           {
               Confirm = "Bạn có chắc muốn xóa bản ghi này ?",
               OnComplete = "$('#row_" + @item.Id + "').remove()",
               HttpMethod = "Delete",
               OnSuccess = "window.location.reload()"
           }, new { @class = "btn btn-warning" })
            </td>
        </tr>
    }

</table>
Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) trên @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("GetAllProducts",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
